label {
    margin-right: 30px;
}

input {
    margin-left: 10px;
    width: 300px;
}

.ng-valid[required], ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}