<div *ngIf='selectedUserId !== -1'>
    <h2>User Details</h2>
    <div>
        <label>Name</label>
        <input required [(ngModel)]='selectedUser.name'>
    </div>
    <div>
        <label>Username</label>
        <input required [(ngModel)]='selectedUser.username'>
    </div>
    <div>
        <label>Email</label>
        <input required [(ngModel)]='selectedUser.email'>
    </div>
    <div>
        <label>Phone</label>
        <input required [(ngModel)]='selectedUser.phone'>
    </div>
    <div>
        <label>Website</label>
        <input required [(ngModel)]='selectedUser.website'>
    </div><br/>
    <h2>Company Details</h2>
    <div>
        <label>Name</label>
        <input required [(ngModel)]='selectedUser.company.name'>
    </div>
    <div>
        <label>Catch Phrase</label>
        <input required [(ngModel)]='selectedUser.company.catchPhrase'>
    </div>
    <div>
        <label>Bs</label>
        <input required [(ngModel)]='selectedUser.company.bs'>
    </div><br/>
    <h2>Address Details</h2>
    <div>
        <label>Street</label>
        <input required [(ngModel)]='selectedUser.address.street'>
    </div>
    <div>
        <label>Suite</label>
        <input required [(ngModel)]='selectedUser.address.suite'>
    </div>
    <div>
        <label>City</label>
        <input required [(ngModel)]='selectedUser.address.city'>
    </div>
    <div>
        <label>Zipcode</label>
        <input required [(ngModel)]='selectedUser.address.zipcode'>
    </div><br/>
    <h2>Geographical Details</h2>
    <div>
        <label>Latitude</label>
        <input required [(ngModel)]='selectedUser.address.geo.lat'>
    </div>
    <div>
        <label>Longitude</label>
        <input required [(ngModel)]='selectedUser.address.geo.lng'>
    </div>
    <button (click)='editButtonHandler()'>Go</button>
</div>

<!-- <label>Username</label> -->
<!-- <input required [(ngModel)]='selectedUserId'> -->


