<div>
  <!-- <pre>{{users |json}}</pre> -->
  <app-user-renderer (selectedUserEvent)='userSelectedHandler($event)' [users]='users' [hidden]='isSelected'></app-user-renderer>
  <app-edit-user (userUpdated)='userUpdatedHandler($event)' [selectedUserId]='selectedUser.id' [hidden]='!isSelected'></app-edit-user>
</div>

