<div class="user" *ngFor='let user of users'>
    <p>NAME: {{user.name}}</p>
    <p>USERNAME: {{user.username}}</p>
    <p>ID: {{user.id}}</p>
    <p>EMAIL: {{user.email}}</p>
    <p>PHONE: {{user.phone}}</p>
    <p>WEBSITE: {{user.website}}</p>
    <button (click)='selectedUserHandler(user)'>Edit</button>
</div>
